@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --color-primary-brand-ocean-green: #4ea674;
  --color-secondary-brand-cyprus: #023337;
  --color-secondary-brand-surf-crest: #c1e6ba;
  --color-accent: #eaf8e7;
  --color-primary: #6467f2;
  --color-success: #21c45d;
  --color-pending: #f0d411;
  --color-error: #ef4343;
  --color-subtle: #7c7c7c;
  --color-accent: #eaf8e7;
}
